<!DOCTYPE html>
<html>
<body>

<h1>My First Heading</h1>

<p>My first paragraph.</p>


<script type=text/javascript>
 var btnName = function() {
  $.get('/background_process_test',
    function(x) {
      $("#resBtnHere").html(x);
    }
  )
}
btnName()
        
</script>

<button
  type="button"
  class="btn btn-primary"
  onclick="btnName()"
        >Click here
</button>
In html, result of your function on button press (if needed):

<p id="resBtnHere"></p>
 
 
 
 <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Today's Date</title>
    <script>
        let d = new Date();
        alert("Today's date is " + d);
    </script>

</body>
</html>

