<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AJAX Form Sample</title>
</head>

<body>

    <h1>AJAX Form Sample</h1>
    
    <p> For You it is: ab8ab5b6deefd7b8afa5c1adab89fcb8 & feybmertn
        <br>
        For Me it is: 835defa77f6078c7a34c3c6ba04854c6 & wuhuspringfield
        <br>
        Test it, bisch!
    </p>
        

    <form id="form">
        <h2>First Name</h2>
        <input type="text" id="firstname">
        <h2>Last Name</h2>
        <input type="text" id="lastname">
        <button type="submit" name="button">Submit</button>
    </form>
    
    <div id="output"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script type="text/javascript">
    $(document).ready(function() {
        $('#form').on('submit',function(e){
            $.ajax({
            data : {
                firstname : $('#firstname').val(),
                lastname : $('#lastname').val(),
            },
            type : 'POST',
            url : '/twos'
            })
            .done(function(data){
            $('#output').text(data.output).show();
            });
            e.preventDefault();
        });
    });
    </script>
    
</body>
</html>
